<div id="header">
  <h1>{{ title }}</h1>
  <img id="ac-icon" src="./assets/icons/icon-x128.png" />
</div>

<h2>Head over to any live YouTube video and click the "Popout Chat" button.</h2>

<h3>Chat Overlay</h3>
<img id="ac-overlay" src="./assets/images/OverlayViewer.png" />

<h3>Chat Overlay Admin</h3>
<img id="ac-overlay" src="./assets/images/OverlayAdminDetails.png" />

<h3>Read more ...</h3>
<ul>
  <li>
    <a
      href="https://github.com/AvidCaster/YouTubeChatOverlayChromeExt"
      target="_blank"
    >
      GitHub Repo</a
    >
  </li>
  <li>
    <a href="https://avidcaster.net/chat/overview" target="_blank">
      AvidCaster - Chat Overview</a
    >
  </li>
</ul>
