/*
   * Remove template code below
   */
:host {
  display: block;
  font-family: sans-serif;
  min-width: 300px;
  max-width: 600px;
  margin: 15px auto;
}

#header h1 {
  margin: 15px auto;
  text-align: center;
  font-size: medium;
}

#header #ac-icon {
  display: block;
  width: 128px;
  height: 128px;
  margin: 1px auto;
}

p span {
  font-weight: bold;
}

#ac-overlay {
  width: 100%;
}

.important {
  color: rgb(27, 146, 39);
}
